.card {
    margin: 15px 8px;
}

md-card-content {
    margin-top: 16px;
    margin-bottom: 0;
}

md-card-actions {
    padding-top: 0;
}

md-card-title {
    margin-bottom: 10px;
}

.loader {
    background: #009688;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader:before, .loader:after {
    background: #009688;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader:before, .loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loading-section {
    height: 70px;
    margin: 40px 0 40px 50%;
}

@media only screen and (max-width: 768px) {
    .loading-section {
        display: block;
        position: relative;
        margin: 45vh 0;
    }
}

.loader {
    color: #009688;
    text-indent: -9999em;
    margin: 20px 20px;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:after {
    left: 1.5em;
}

@media only screen and (max-width: 768px) {
    .loader {
        margin: 20px auto;
    }
}

@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 2em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 3em;
    }
}

@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 2em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 3em;
    }
}

@media only screen and (max-width: 768px) {
    @-webkit-keyframes load1 {
        0%,
        80%,
        100% {
            box-shadow: 0 0;
            height: 4em;
        }
        40% {
            box-shadow: 0 -2em;
            height: 5em;
        }
    }
    @keyframes load1 {
        0%,
        80%,
        100% {
            box-shadow: 0 0;
            height: 3em;
        }
        40% {
            box-shadow: 0 -2em;
            height: 4em;
        }
    }
}
