<md-card class="card">
  <md-toolbar>What would you like to know?</md-toolbar>
  <md-card-content>
    <form>
      <p><md-input [(ngModel)]="question.author" name="author" placeholder="Name" value="Anonymous"></md-input></p>      
      
      <p><md-input [(ngModel)]="question.title" name="title" placeholder="Question Title"></md-input></p>
      <p><md-input [(ngModel)]="question.content" name="content" placeholder="Question"></md-input><p>
        
    </form>
  </md-card-content>
  <md-card-actions>
    <button md-fab (click)="onAskClick()" color="primary">Ask!</button>
  </md-card-actions>
</md-card>